<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/ONE.css">
	<title>PIRACY POLICE</title>
</head>

<body bgcolor="black">

	<div class="container">
		<h1>PIRACY RATE</h1>
		<div class="chart">
			<div class="part percent-{{p1}}">
				<div class="label">BOOK1</div>
				<div class="bar red">aw<div class="label">{{pr1}}</div>
				</div>
			</div>
			<div class="part percent-{{p2}}">
				<div class="label">BOOK2</div>
				<div class="bar blue">aw<div class="label">{{pr2}}</div>
				</div>
			</div>
			<div class="part percent-{{p3}}">
				<div class="label">BOOK3</div>
				<div class="bar green">aw<div class="label">{{pr3}}</div>
				</div>
			</div>
			<div class="part percent-{{p4}}">
				<div class="label">BOOK4</div>
				<div class="bar red">aw<div class="label">{{pr4}}</div>
				</div>
			</div>
			<div class="part percent-{{p5}}">
				<div class="label">BOOK5</div>
				<div class="bar blue">aw<div class="label">{{pr5}}</div>
				</div>
			</div>
			<div class="part percent-{{p6}}">
				<div class="label">BOOK6</div>
				<div class="bar green">aw<div class="label">{{pr6}}</div>
				</div>
			</div>
			<div class="part percent-{{p7}}">
				<div class="label">BOOK7</div>
				<div class="bar red">aw<div class="label">{{pr7}}</div>
				</div>
			</div>
			<div class="part percent-{{p8}}">
				<div class="label">BOOK8</div>
				<div class="bar blue">aw<div class="label">{{pr8}}</div>
				</div>
			</div>
			<div class="part percent-{{p9}}">
				<div class="label">BOOK9</div>
				<div class="bar green">aw<div class="label">{{pr9}}</div>
				</div>
			</div>
			<div class="part percent-{{p10}}">
				<div class="label">BOOK10</div>
				<div class="bar red">aw<div class="label">{{pr10}}</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>